* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
  font-weight: 200;
  letter-spacing: 1.5px;
}

@keyframes alerta-enter {
  from {
    transform: translateX(110%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes alerta-out {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(110%);
  }
}

@keyframes fade-up {
  from {
    opacity: 0;
    z-index: -1;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    z-index: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-down {
  from {
    opacity: 1;
    z-index: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    z-index: -1;
    transform: translateY(200px);
  }
}

@keyframes fade-left {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.container-alerta .modal-alerta {
  position: absolute;
  right: 0;
  width: 400px;
  background-color: white;
  border-radius: 10px 0 0 10px;
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transition: 1s;
  animation: alerta-out 1s forwards;
  z-index: 100;
}

.container-alerta .modal-alerta.bottom {
  bottom: 20px !important;
}

.container-alerta .modal-alerta.top {
  top: 20px;
}

.container-alerta .modal-alerta.active {
  transition: 1s;
  animation: alerta-enter 1s forwards;
}

.container-alerta .modal-alerta > div {
  padding: 15px;
}

.container-alerta .modal-alerta.alerta-erro .logo {
  background-color: #c40000 !important;
}

.container-alerta .modal-alerta.alerta-erro .titulo {
  color: #c40000 !important;
}

.container-alerta .modal-alerta .logo {
  width: 100%;
  height: 100%;
  font-size: 25px;
  background-color: #0096c4;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-alerta .modal-alerta .titulo {
  text-transform: uppercase;
  color: #0096c4;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 10px;
}

.container-alerta .modal-alerta .texto {
  font-size: 14px;
}

body {
  overflow: hidden;
}

.main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: white;
}

.main .coluna-menu {
  padding: 20px 0px 20px 10px;
  width: 280px;
  height: 100%;
  background-color: #0096c4;
  overflow: hidden;
  transition: .2s ease-in-out;
}

.main .coluna-menu.minimize {
  width: 60px;
}

.main .coluna-menu.minimize .logo {
  gap: 0;
}

.main .coluna-menu.minimize .logo .titulo-logo {
  display: none;
}

.main .coluna-menu .logo {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.main .coluna-menu .logo .img-logo {
  width: 30px;
  color: white;
}

.main .coluna-menu .logo .titulo-logo {
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.main .coluna-menu .menu-principal {
  margin-top: 20px;
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.main .coluna-menu .menu-principal .menu {
  position: relative;
  display: flex;
  height: 47px;
  padding: 15px 20px;
  margin: 10px 0px;
  color: white;
  cursor: pointer;
}

.main .coluna-menu .menu-principal .menu:hover, .main .coluna-menu .menu-principal .menu.active {
  background-color: white;
  border-radius: 20px 0 0 20px;
  color: #0096c4;
}

.main .coluna-menu .menu-principal .menu:hover::before, .main .coluna-menu .menu-principal .menu.active::before {
  content: '';
  position: absolute;
  top: -30px;
  right: 0;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 30%;
  box-shadow: 22px 22px 0px 10px white;
  pointer-events: none;
}

.main .coluna-menu .menu-principal .menu:hover::after, .main .coluna-menu .menu-principal .menu.active::after {
  content: '';
  position: absolute;
  bottom: -30px;
  right: 0;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 30%;
  box-shadow: 22px -22px 0px 10px white;
}

.main .coluna-menu .menu-principal .menu i {
  margin-right: 20px;
}

.main .coluna-menu .menu-principal .menu .texto {
  flex-wrap: nowrap;
}

.main .coluna-conteudo .topo-conteudo {
  width: 100%;
  height: 60px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0.5px 3px 1px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 100;
}

.main .coluna-conteudo .topo-conteudo .wrapper-menu-bar {
  display: flex;
  gap: 20px;
}

.main .coluna-conteudo .topo-conteudo .wrapper-menu-bar .btn-menu-bar {
  background: none;
  border: none;
  font-size: 18px;
  color: #636363;
  cursor: pointer;
}

.main .coluna-conteudo .topo-conteudo .wrapper-menu-bar .btn-menu-bar:hover {
  color: #0096c4;
}

.main .coluna-conteudo .topo-conteudo .wrapper-menu-bar .titulo-pagina {
  color: #636363;
  font-size: 18px;
  font-weight: 700;
  animation: fade-left 1s forwards reverse;
}

.main .coluna-conteudo .topo-conteudo .wrapper-menu-bar .titulo-pagina.active {
  animation: fade-left 1s forwards;
}

.main .coluna-conteudo .topo-conteudo .wrapper-user {
  display: flex;
  gap: 20px;
  align-items: center;
}

.main .coluna-conteudo .topo-conteudo .wrapper-user .texto {
  font-size: 14px;
  font-style: italic;
  color: #282828;
}

.main .coluna-conteudo .topo-conteudo .wrapper-user .texto .usuario {
  font-weight: 600;
}

.main .coluna-conteudo .topo-conteudo .wrapper-user .img-avatar {
  width: 45px;
  height: 45px;
  border: solid 2px #f0f0f0;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.main .coluna-conteudo .conteudo {
  display: grid;
  grid-template-columns: 1fr 300px;
  height: calc(100vh - 110px);
}

.main .coluna-conteudo .conteudo .container-conteudo {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  padding: 20px 10px;
}

.main .coluna-conteudo .conteudo .container-conteudo .pagina {
  position: absolute;
  width: 95%;
  height: 130%;
  padding: 20px;
  border-radius: 5px;
  background: #f0f0f0;
  animation: fade-down 1s forwards;
}

.main .coluna-conteudo .conteudo .container-conteudo .pagina.active {
  opacity: 1;
  animation: fade-up 1s forwards;
  display: block;
}

.main .coluna-conteudo .conteudo .container-painel {
  padding: 20px 10px;
  width: 100%;
  height: 100%;
  border: solid 1px red;
}

.main .coluna-conteudo .rodape {
  width: 100%;
  height: 25px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .coluna-conteudo .rodape .creditos {
  font-size: 12px;
  color: #636363;
}

.main .coluna-conteudo .rodape .creditos a {
  color: #0096c4;
}

.main .coluna-conteudo .rodape .creditos a:hover {
  color: #000;
  border-bottom: solid 2px #0096c4;
}
