* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
  font-weight: 200;
  letter-spacing: 1.5px;
}

* ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

* ::-webkit-scrollbar-thumb {
  background: #0096c4;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-radius: 5px;
}

* ::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 5px;
}

@keyframes alerta-enter {
  from {
    transform: translateX(110%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes alerta-out {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(110%);
  }
}

@keyframes fade-up {
  from {
    opacity: 0;
    z-index: -1;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    z-index: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-down {
  from {
    opacity: 1;
    z-index: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    z-index: -1;
    transform: translateY(200px);
  }
}

@keyframes fade-left {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fade-out-menu {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes fade-in-menu {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes fade-out-painel {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes fade-in-painel {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.container-alerta .modal-alerta {
  position: absolute;
  right: 0;
  width: 400px;
  background-color: white;
  border-radius: 10px 0 0 10px;
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transition: 1s;
  animation: alerta-out 1s forwards;
  z-index: 100;
}

.container-alerta .modal-alerta.bottom {
  bottom: 20px !important;
}

.container-alerta .modal-alerta.top {
  top: 20px;
}

.container-alerta .modal-alerta.active {
  transition: 1s;
  animation: alerta-enter 1s forwards;
}

.container-alerta .modal-alerta > div {
  padding: 15px;
}

.container-alerta .modal-alerta.alerta-erro .logo {
  background-color: #c40000 !important;
}

.container-alerta .modal-alerta.alerta-erro .titulo {
  color: #c40000 !important;
}

.container-alerta .modal-alerta .logo {
  width: 100%;
  height: 100%;
  background-color: #0096c4;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-alerta .modal-alerta .logo .img-logo {
  width: 40px;
}

.container-alerta .modal-alerta .titulo {
  text-transform: uppercase;
  color: #0096c4;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 10px;
}

.container-alerta .modal-alerta .texto {
  font-size: 14px;
}

body {
  background-image: url("../img/background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

@media (max-width: 760px) {
  body {
    background: none;
  }
}

@media (max-width: 760px) {
  .container-alerta {
    display: none;
  }
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  display: flex;
  width: 750px;
  height: 500px;
  border-radius: 12px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

@media (max-width: 760px) {
  .modal {
    width: 100%;
    height: 100vh;
    border-radius: 0;
    box-shadow: none;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    transition: 1s;
  }
}

.modal.move .overlay-container {
  transform: translateX(0%);
}

.modal.move .overlay:nth-child(2) {
  opacity: 0;
  z-index: -1;
}

.modal.move .form {
  transform: translateX(100%) !important;
  z-index: -1 !important;
  opacity: 0 !important;
  transition: 1s;
}

@media (max-width: 760px) {
  .modal.move .form.form-login {
    transform: translateX(-100%) !important;
    z-index: 1 !important;
    opacity: 1 !important;
  }
  .modal.move .form.form-cadastro {
    transform: translateX(0%) !important;
  }
}

.modal.move .form:nth-child(2) {
  z-index: 1 !important;
  opacity: 1 !important;
}

@media (max-width: 760px) {
  .modal.move {
    background-position: right bottom;
  }
}

.modal .form-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.modal .form-container .form {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 1s;
  padding: 50px 30px;
}

@media (max-width: 760px) {
  .modal .form-container .form {
    width: 100%;
  }
  .modal .form-container .form .titulo {
    color: white !important;
    text-shadow: 1px 1px 1px black !important;
  }
  .modal .form-container .form .texto {
    color: white !important;
    text-shadow: 1px 1px 1px black !important;
  }
  .modal .form-container .form .midias {
    border: solid 2px white !important;
  }
  .modal .form-container .form.form-cadastro {
    transform: translateX(100%);
  }
}

.modal .form-container .form:nth-child(2) {
  z-index: -1;
  opacity: 0;
}

.modal .form-container .form .titulo {
  font-size: 42px;
  color: #282828;
  text-shadow: 1px 1px 1px white;
}

.modal .form-container .form .wrapper-midias {
  display: flex;
  gap: 30px;
}

.modal .form-container .form .wrapper-midias .midias {
  width: 40px;
  height: 40px;
  background-color: #0096c4;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  transition: .5s;
  cursor: pointer;
}

.modal .form-container .form .wrapper-midias .midias i {
  margin-left: 2px;
}

.modal .form-container .form .wrapper-midias .midias:hover {
  background-color: white;
  color: #0096c4;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}

.modal .form-container .form .texto {
  color: #282828;
}

.modal .form-container .form .wrapper-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.modal .form-container .form .wrapper-input .input {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  border: solid 2px #0096c4;
  padding: 5px 15px;
  outline: none;
  color: #282828;
}

.modal .form-container .form .wrapper-input .link {
  color: #282828;
  border-bottom: 2px solid #f0f0f0;
  cursor: pointer;
  transition: .5s;
}

.modal .form-container .form .wrapper-input .link:hover {
  border-bottom: 2px solid #0096c4;
}

.modal .form-container .form .btn-form {
  width: 200px;
  height: 45px;
  background: none;
  border: solid 2px #0096c4;
  background-color: #0096c4;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  transition: .5s;
  cursor: pointer;
}

.modal .form-container .form .btn-form:hover {
  background: white;
  color: #0096c4;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}

.modal .form-container .form .texto-mobile {
  display: none;
  background-color: rgba(0, 47, 61, 0.6);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 3px;
  border-radius: 3px;
  transition: .5s;
}

.modal .form-container .form .texto-mobile:hover {
  background-color: #0096c4;
}

@media (max-width: 760px) {
  .modal .form-container .form .texto-mobile {
    display: block;
  }
}

.modal .overlay-container {
  position: absolute;
  width: 50%;
  height: 100%;
  transform: translatex(100%);
  z-index: 20;
  transition: 1s;
}

@media (max-width: 760px) {
  .modal .overlay-container {
    display: none;
  }
}

.modal .overlay-container .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 70px 30px;
  background-color: #0096c4;
  color: white;
  transition: 1s;
}

.modal .overlay-container .overlay .logo {
  font-size: 60px;
}

.modal .overlay-container .overlay .img-logo {
  width: 70px;
}

.modal .overlay-container .overlay .titulo {
  font-size: 34px;
}

.modal .overlay-container .overlay .btn-overlay {
  width: 200px;
  height: 45px;
  background: none;
  border: solid 2px white;
  background: white;
  color: #0096c4;
  font-size: 16px;
  border-radius: 10px;
  transition: .5s;
  cursor: pointer;
}

.modal .overlay-container .overlay .btn-overlay:hover {
  background-color: #0096c4;
  color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}
