* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
  font-weight: 200;
  letter-spacing: 1.5px;
}

* ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

* ::-webkit-scrollbar-thumb {
  background: #0096c4;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-radius: 5px;
}

* ::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5px;
}

* input {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  border: solid 2px #f0f0f0;
  padding: 5px 15px;
  outline: none;
  color: #282828;
}

* input:focus {
  border: solid 2px #0096c4;
  box-shadow: 0 0 3px rgba(0, 150, 196, 0.6);
}

* input:focus:invalid {
  border: solid 2px rgba(183, 1, 1, 0.731);
  box-shadow: 0 0 3px rgba(183, 1, 1, 0.6);
}

* input.erro {
  border: solid 2px rgba(183, 1, 1, 0.731);
  box-shadow: 0 0 3px rgba(0, 150, 196, 0.6);
  animation: erro forwards .3s 3;
}

* input:valid {
  border: solid 2px #0096c4;
  box-shadow: 0 0 3px rgba(0, 150, 196, 0.6);
}

* input:-moz-ui-valid {
  border: solid 2px #0096c4;
  box-shadow: 0 0 3px rgba(0, 150, 196, 0.6);
}

* input:-moz-ui-invalid {
  border: solid 2px rgba(183, 1, 1, 0.731);
  box-shadow: 0 0 3px rgba(183, 1, 1, 0.6);
}

@keyframes alerta-enter {
  from {
    transform: translateX(110%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes alerta-out {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(110%);
  }
}

@keyframes fade-up {
  from {
    opacity: 0;
    z-index: -1;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    z-index: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-down {
  from {
    opacity: 1;
    z-index: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    z-index: -1;
    transform: translateY(200px);
  }
}

@keyframes fade-left {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fade-out-menu {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes fade-in-menu {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes fade-out-painel {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes fade-in-painel {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes erro {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(-5px);
  }
  0% {
    transform: translateX(0px);
  }
}

.container-alerta .modal-alerta {
  position: absolute;
  right: 0;
  max-width: 400px;
  min-width: 250px;
  background-color: white;
  border-radius: 10px 0 0 10px;
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transition: 1s;
  animation: alerta-out 1s forwards;
  z-index: 100;
}

.container-alerta .modal-alerta.bottom {
  bottom: 20px !important;
}

.container-alerta .modal-alerta.top {
  top: 20px;
}

@media (max-width: 760px) {
  .container-alerta .modal-alerta.top {
    top: auto;
    bottom: 70px;
  }
}

.container-alerta .modal-alerta.active {
  transition: 1s;
  animation: alerta-enter 1s forwards;
}

.container-alerta .modal-alerta > div {
  padding: 15px;
}

.container-alerta .modal-alerta.alerta-erro .logo {
  background-color: #c40000 !important;
}

.container-alerta .modal-alerta.alerta-erro .titulo {
  color: #c40000 !important;
}

.container-alerta .modal-alerta .logo {
  width: 100%;
  height: 100%;
  background-color: #0096c4;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-alerta .modal-alerta .logo .img-logo {
  width: 40px;
}

.container-alerta .modal-alerta .titulo {
  text-transform: uppercase;
  color: #0096c4;
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 10px;
}

.container-alerta .modal-alerta .texto {
  font-size: 14px;
}

@media (max-width: 760px) {
  .container-alerta .modal-alerta {
    animation: fade-down 1s forwards;
    display: block;
    border-radius: 10px;
    width: 80%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
  }
  .container-alerta .modal-alerta.active {
    transition: 1s;
    animation: fade-up 1s forwards;
  }
  .container-alerta .modal-alerta .logo {
    display: none;
  }
}

.clientes {
  width: 100%;
  overflow-x: scroll;
}

.clientes .wrapper-btn {
  width: 100%;
  display: flex;
  justify-content: left;
}

.clientes .wrapper-btn .btn-cadastrar {
  background-color: #0096c4;
  border: solid 2px #0096c4;
  padding: 15px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.clientes .wrapper-btn .btn-cadastrar:hover {
  background-color: #f0f0f0;
  color: #0096c4;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.clientes .tabela {
  width: 100%;
  min-width: 700px;
  margin-top: 20px;
  overflow-x: scroll;
}

.clientes .tabela .cabecalho {
  background-color: #0096c4;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.clientes .tabela .cabecalho > td {
  padding: 10px;
}

.clientes .tabela .dados {
  font-size: 14px;
  color: #282828;
  background-color: #f0f0f0;
}

.clientes .tabela .dados > td {
  padding: 10px;
}

.clientes .tabela .dados .acoes {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.clientes .tabela .dados .acoes .btn-acoes {
  width: 100%;
  background-color: #0096c4;
  color: white;
  padding: 8px 5px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}

.clientes .tabela .dados .acoes .btn-acoes:hover {
  opacity: .5;
}

.clientes .tabela .dados .acoes .btn-acoes.btn-excluir {
  background-color: #c40000;
}

.modal {
  display: none;
}

.modal.active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal.active .wrapper-modal {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.active .wrapper-modal .janela-cadastro {
  position: absolute;
  width: 70%;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.modal.active .wrapper-modal .janela-cadastro .topo {
  position: relative;
  width: 100%;
  background-color: #0096c4;
  padding: 15px;
  text-align: center;
}

.modal.active .wrapper-modal .janela-cadastro .topo .titulo {
  font-weight: 600;
  color: white;
  font-size: 18px;
}

.modal.active .wrapper-modal .janela-cadastro .topo .btn-fechar {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #636363;
  color: white;
  border-radius: 50%;
  border: none;
  font-size: 18px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal.active .wrapper-modal .janela-cadastro .topo .btn-fechar i {
  margin-left: 2px;
}

.modal.active .wrapper-modal .janela-cadastro .topo .btn-fechar:hover {
  background-color: white;
  color: #636363;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.modal.active .wrapper-modal .janela-cadastro .form {
  padding: 20px;
  display: list-item;
  gap: 10px;
}

.modal.active .wrapper-modal .janela-cadastro .form .input.grande {
  width: 100%;
}

.modal.active .wrapper-modal .janela-cadastro .form .input.medio {
  width: 40%;
}

.modal.active .wrapper-modal .janela-cadastro .form .input.pequeno {
  max-width: 15%;
}

.modal.active .wrapper-modal .janela-cadastro .texto {
  font-size: 15px;
  color: #282828;
  font-style: italic;
  margin-left: 20px;
}

.modal.active .wrapper-modal .janela-cadastro .wrapper-btn {
  width: 100%;
  padding: 20px;
  display: flex;
  gap: 10px;
  justify-content: right;
}

.modal.active .wrapper-modal .janela-cadastro .wrapper-btn .btn-form {
  background-color: #0096c4;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 150px;
  cursor: pointer;
}

.modal.active .wrapper-modal .janela-cadastro .wrapper-btn .btn-form:hover {
  opacity: .7;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.modal.active .wrapper-modal .janela-cadastro .wrapper-btn .btn-form.btn-cancelar {
  background-color: #636363;
}

.modal .janela-cliente {
  animation: fade-down 1s forwards;
  transition: 1s;
}

.modal .janela-cliente.active {
  animation: fade-up 1s forwards !important;
  display: block;
}

body {
  position: relative;
  overflow: hidden;
}

.main {
  display: none;
}

.main.active {
  display: block;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: white;
}

.main .coluna-menu {
  padding: 20px 0px 20px 10px;
  width: 280px;
  height: 100%;
  background-color: #0096c4;
  overflow: hidden;
  transition: 1s;
  animation: fade-in-menu 1s forwards;
}

.main .coluna-menu.minimize {
  animation: fade-out-menu 1s forwards;
  width: 60px;
}

.main .coluna-menu.minimize .menu {
  padding: 15px !important;
  gap: 10px;
}

.main .coluna-menu .logo {
  display: flex;
  gap: 15px;
  align-items: center;
}

.main .coluna-menu .logo .img-logo {
  width: 45px;
  color: white;
}

.main .coluna-menu .logo .texto-logo {
  display: flex;
  flex-direction: column;
}

.main .coluna-menu .logo .texto-logo .titulo {
  color: white;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-style: italic;
}

.main .coluna-menu .logo .texto-logo .subtitulo {
  font-size: 10px;
  color: white;
}

.main .coluna-menu .menu-principal {
  margin-top: 20px;
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.main .coluna-menu .menu-principal .menu {
  position: relative;
  display: flex;
  height: 47px;
  padding: 15px 20px;
  margin: 10px 0px;
  color: white;
  cursor: pointer;
}

.main .coluna-menu .menu-principal .menu:hover, .main .coluna-menu .menu-principal .menu.active {
  background-color: white;
  border-radius: 20px 0 0 20px;
  color: #0096c4;
}

.main .coluna-menu .menu-principal .menu:hover::before, .main .coluna-menu .menu-principal .menu.active::before {
  content: '';
  position: absolute;
  top: -30px;
  right: 0;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 30%;
  box-shadow: 22px 22px 0px 10px white;
  pointer-events: none;
}

.main .coluna-menu .menu-principal .menu:hover::after, .main .coluna-menu .menu-principal .menu.active::after {
  content: '';
  position: absolute;
  bottom: -30px;
  right: 0;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 30%;
  box-shadow: 22px -22px 0px 10px white;
}

.main .coluna-menu .menu-principal .menu i {
  margin-right: 20px;
}

.main .coluna-menu .menu-principal .menu .texto {
  flex-wrap: nowrap;
}

.main .coluna-conteudo .topo-conteudo {
  width: 100%;
  height: 60px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0.5px 3px 1px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 100;
}

.main .coluna-conteudo .topo-conteudo .wrapper-menu-bar {
  display: flex;
  gap: 20px;
}

.main .coluna-conteudo .topo-conteudo .wrapper-menu-bar .btn-menu-bar {
  background: none;
  border: none;
  font-size: 18px;
  color: #636363;
  cursor: pointer;
}

.main .coluna-conteudo .topo-conteudo .wrapper-menu-bar .btn-menu-bar:hover {
  color: #0096c4;
}

.main .coluna-conteudo .topo-conteudo .wrapper-menu-bar .titulo-pagina {
  color: #636363;
  font-size: 18px;
  font-weight: 700;
  animation: fade-left 1s forwards reverse;
}

.main .coluna-conteudo .topo-conteudo .wrapper-menu-bar .titulo-pagina.active {
  animation: fade-left 1s forwards;
}

.main .coluna-conteudo .topo-conteudo .wrapper-user {
  display: flex;
  gap: 20px;
  align-items: center;
}

.main .coluna-conteudo .topo-conteudo .wrapper-user .texto {
  font-size: 14px;
  font-style: italic;
  color: #282828;
}

.main .coluna-conteudo .topo-conteudo .wrapper-user .texto .usuario {
  font-weight: 600;
  text-transform: capitalize;
}

.main .coluna-conteudo .topo-conteudo .wrapper-user .img-avatar {
  width: 45px;
  height: 45px;
  border: solid 2px #f0f0f0;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.main .coluna-conteudo .conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  height: calc(100vh - 110px);
}

.main .coluna-conteudo .conteudo .container-conteudo {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  padding: 20px 10px;
}

.main .coluna-conteudo .conteudo .container-conteudo .pagina {
  position: absolute;
  width: 95%;
  padding: 20px 0px;
  border-radius: 5px;
  animation: fade-down 1s forwards;
}

.main .coluna-conteudo .conteudo .container-conteudo .pagina.active {
  opacity: 1;
  animation: fade-up 1s forwards;
  display: block;
}

.main .coluna-conteudo .conteudo .coluna-painel {
  position: relative;
  padding: 15px 20px;
  width: 300px;
  height: 100%;
  background-color: #f0f0f0;
  transition: 1s;
  animation: fade-in-painel 1s forwards;
}

.main .coluna-conteudo .conteudo .coluna-painel.minimize {
  animation: fade-out-painel 1s forwards;
  width: 0px;
}

.main .coluna-conteudo .conteudo .coluna-painel .btn-menu-bar {
  position: absolute;
  top: 5px;
  left: -35px;
  width: 35px;
  height: 35px;
  background-color: #f0f0f0;
  color: #0096c4;
  border: none;
  border-radius: 5px 0 0 5px;
  font-size: 15px;
  cursor: pointer;
}

.main .coluna-conteudo .conteudo .coluna-painel .btn-menu-bar:hover {
  background-color: #0096c4;
  color: white;
}

.main .coluna-conteudo .conteudo .coluna-painel .titulo {
  color: #636363;
  font-size: 15px;
  font-weight: 700;
}

.main .coluna-conteudo .rodape {
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 3px #0096c4;
}

.main .coluna-conteudo .rodape .creditos {
  font-size: 12px;
  color: #636363;
}

.main .coluna-conteudo .rodape .creditos a {
  color: #0096c4;
}

.main .coluna-conteudo .rodape .creditos a:hover {
  color: #000;
  border-bottom: solid 2px #0096c4;
}
