.container-alerta {
    // width: 100%;
    // height: 100vh;
    // position: absolute;
    // top: 0;
    // left: 0;
    // // background-color: rgba(0, 0, 0, .50);

    .modal-alerta {
        position: absolute;
        right: 0;
        width: 400px;
        background-color: white;
        border-radius: 10px 0 0 10px;
        display: grid;
        grid-template-columns: 60px 1fr;
        align-items: center;
        box-shadow: $corSombra;
        overflow: hidden;
        transition: 1s;
        animation: alerta-out 1s forwards;
        z-index: 100;

        &.bottom {
            bottom: 20px !important;
        }

        &.top {
            top: 20px;
        }
        
        &.active {
            transition: 1s;
            animation: alerta-enter 1s forwards;
        }

        & > div {
            padding: 15px;
        }

        &.alerta-erro {
            .logo {
                background-color: $corErro !important;
            }

            .titulo {
                color: $corErro !important;
            }
        }

        .logo {
            width: 100%;
            height: 100%;
            font-size: 25px;
            background-color: $corPrimaria;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .titulo {
            text-transform: uppercase;
            color: $corPrimaria;
            font-weight: 700;
            font-size: 15px;
            margin-bottom: 10px;
        }

        .texto {
            font-size: 14px;
            
        }

    }
}