@import 'responsividade';

.container-alerta {

    .modal-alerta {
        position: absolute;
        right: 0;
        max-width: 400px;
        min-width: 250px;
        background-color: white;
        border-radius: 10px 0 0 10px;
        display: grid;
        grid-template-columns: 60px 1fr;
        align-items: center;
        box-shadow: $corSombra;
        overflow: hidden;
        transition: 1s;
        animation: alerta-out 1s forwards;
        z-index: 100;

        &.bottom {
            bottom: 20px !important;
        }

        &.top {
            top: 20px;

            @include mobile {
                top: auto;
                bottom: 70px;
            }
        }

        &.active {
            transition: 1s;
            animation: alerta-enter 1s forwards;
        }

        &>div {
            padding: 15px;
        }

        &.alerta-erro {
            .logo {
                background-color: $corErro  !important;
            }

            .titulo {
                color: $corErro  !important;
            }
        }

        .logo {
            width: 100%;
            height: 100%;
            background-color: $corPrimaria;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;

            .img-logo {
                width: 40px;
            }
        }


        .titulo {
            text-transform: uppercase;
            color: $corPrimaria;
            font-weight: 700;
            font-size: 15px;
            margin-bottom: 10px;
        }

        .texto {
            font-size: 14px;

        }

        // Responsividade
        @include mobile {
            animation: fade-down 1s forwards;
            display: block;
            border-radius: 10px;
            width: 80%;
            left: 0;
            right: 0;
            margin: auto;
            text-align: center;

            &.active {
                transition: 1s;
                animation: fade-up 1s forwards;
            }

            .logo {
                display: none;
            }
        }

    }
}