@keyframes alerta-enter {
    from {
        transform: translateX(110%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes alerta-out {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(110%);
    }
}

@keyframes fade-up {
    from {
        opacity: 0;
        z-index: -1;
        transform: translateY(200px);
    }
    to {
        opacity: 1;
        z-index: 1;
        transform: translateY(0px);
    }
}

@keyframes fade-down {
    from {
        opacity: 1;
        z-index: 1;
        transform: translateY(0px);
    }
    to {
        opacity: 0;
        z-index: -1;
        transform: translateY(200px);
    }
}

@keyframes fade-left {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fade-out-menu {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes fade-in-menu {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes fade-out-painel {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes fade-in-painel {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes erro {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(0px);
    }
    75% {
        transform: translateX(-5px);
    }
    0% {
        transform: translateX(0px);
    }
}