@keyframes alerta-enter {
    from {
        transform: translateX(110%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes alerta-out {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(110%);
    }
}