$corPrimaria: rgb(0, 150, 196);
$corPrimariaLigt: rgba(0, 150, 196, 0.1);
$corSecundaria: rgb(240, 240, 240);
$corSecundariaDark: rgb(99, 99, 99);
$corCinza: rgb(235, 235, 235);
$corTexto: rgb(40, 40, 40);
$corErro: rgb(196, 0, 0);
$corSombra: 1px 1px 10px rgba(0, 0, 0, .40);