@import 'cores';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
    font-weight: 200;
    letter-spacing: 1.5px;
    
    // Scroll
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    
    ::-webkit-scrollbar-thumb {
        background: $corPrimaria;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
        border-radius: 5px;
    }
    
    ::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 5px;
    }

    // input
    input {
        width: 100%;
        height: 45px;
        border-radius: 5px;
        border: solid 2px $corSecundaria;
        padding: 5px 15px;
        outline: none;
        color: $corTexto;
        
        &:focus {
            border: solid 2px $corPrimaria;
            box-shadow: 0 0 3px rgba($corPrimaria, .60);

            &:invalid {
                border: solid 2px $corErroInput;
                box-shadow: 0 0 3px rgba($corErroInput, .60);
            }
        }

        &.erro {
            border: solid 2px $corErroInput;
            box-shadow: 0 0 3px rgba($corPrimaria, .60);
            animation: erro forwards .3s 3;
        }

        // &:user-valid {
        //     border: solid 2px $corPrimaria;
        //     box-shadow: 0 0 3px rgba($corPrimaria, .60);
        // }

        &:-moz-ui-valid {
            border: solid 2px $corPrimaria;
            box-shadow: 0 0 3px rgba($corPrimaria, .60);
        }

        // &:user-invalid {
        //     border: solid 2px $corErroInput;
        //     box-shadow: 0 0 3px rgba($corErroInput, .60);
        // }

        &:-moz-ui-invalid  {
            border: solid 2px $corErroInput;
            box-shadow: 0 0 3px rgba($corErroInput, .60);
        }
    }
}
