@import 'reset';
@import 'cores';
@import 'animacoes';
@import 'alertas';

body {
    background-image: url('../img/background.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: relative;
    display: flex;
    width: 750px;
    height: 500px;
    border-radius: 12px;
    box-shadow: $corSombra;
    overflow: hidden;

    &.move {
        .overlay-container {
            transform: translateX(0%);
        }

        .overlay:nth-child(2) {
            opacity: 0;
            z-index: -1;
        }

    }

    .form-container {
        display: flex;
        width: 100%;
        height: 100%;

        .form {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            // gap: 30px;
            padding: 50px 30px;

            .titulo {
                font-size: 42px;
                color: $corTexto;
                text-shadow: 1px 1px 1px white;
            }

            .wrapper-midias {
                display: flex;
                gap: 30px;

                .midias {
                    width: 40px;
                    height: 40px;
                    background-color: $corPrimaria;
                    color: white;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 19px;
                    transition: .5s;
                    cursor: pointer;

                    i {
                        margin-left: 2px;
                    }

                    &:hover {
                        background-color: white;
                        color: $corPrimaria;
                        box-shadow: $corSombra
                    }
                }
            }

            .texto {
                color: $corTexto;
            }

            .wrapper-input {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;

                .input {
                    width: 100%;
                    height: 45px;
                    border-radius: 5px;
                    border: solid 2px $corPrimaria;
                    // background-color: $corCinza;
                    padding: 5px 15px;
                    outline: none;
                    color: $corTexto;
                }

                .link {
                    color: $corTexto;
                    border-bottom: 2px solid $corSecundaria;
                    cursor: pointer;
                    transition: .5s;

                    &:hover {
                        border-bottom: 2px solid $corPrimaria;
                    }
                }
            }

            .btn-form {
                width: 200px;
                height: 45px;
                background: none;
                border: solid 2px $corPrimaria;
                background-color: $corPrimaria;
                color: white;
                font-size: 16px;
                border-radius: 10px;
                transition: .5s;
                cursor: pointer;

                &:hover {
                    background: white;
                    color: $corPrimaria;
                    box-shadow: $corSombra
                }
            }
        }
    }

    .overlay-container {
        position: absolute;
        width: 50%;
        height: 100%;
        transform: translatex(100%);
        transition: 1s;

        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            padding: 70px 30px;
            background-color: $corPrimaria;
            color: white;
            transition: 1s;

            .logo {
                font-size: 60px;
            }

            .img-logo {
                width: 70px;
            }

            .titulo {
                font-size: 34px;
            }

            .texto {}

            .btn-overlay {
                width: 200px;
                height: 45px;
                background: none;
                border: solid 2px white;
                background: white;
                color: $corPrimaria;
                font-size: 16px;
                border-radius: 10px;
                transition: .5s;
                cursor: pointer;

                &:hover {
                    background-color: $corPrimaria;
                    color: white;
                    box-shadow: $corSombra
                }
            }
        }
    }

}

