@import 'reset';
@import 'cores';
@import 'animacoes';
@import 'alertas';

body {
    overflow: hidden;
}

.main {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: white;

    .coluna-menu {
        padding: 20px 0px 20px 10px;
        width: 280px;
        height: 100%;
        background-color: $corPrimaria;
        overflow: hidden;
        transition: .2s ease-in-out;

        &.minimize {
            width: 60px;

            .logo {
                gap: 0;

                .texto-logo {
                    display: none;
                }
            }

        }

        .logo {
            display: flex;
            gap: 15px;
            justify-content: center;
            align-items: center;

            .img-logo {
                width: 45px;
                color: white;
            }

            .texto-logo {
                display: flex;
                flex-direction: column;
            
           
                .titulo {
                    color: white;
                    font-size: 25px;
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: 10px;
                    font-style: italic;
                }
    
                .subtitulo {
                    font-size: 10px;
                    color: white;
                }
            }

        }

        .menu-principal {
            margin-top: 20px;
            width: 100%;
            height: calc(100vh - 80px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden;

            .menu {
                position: relative;
                display: flex;
                height: 47px;
                padding: 15px 20px;
                margin: 10px 0px;
                // border-left: solid 6px transparent;
                // color: $corSecundariaDark;
                color: white;
                // font-size: 15px;
                cursor: pointer;


                &:hover,
                &.active {
                    background-color: white;
                    border-radius: 20px 0 0 20px;
                    color: $corPrimaria;

                    &::before {
                        content: '';
                        position: absolute;
                        top: -30px;
                        right: 0;
                        width: 30px;
                        height: 30px;
                        background: transparent;
                        border-radius: 30%;
                        box-shadow: 22px 22px 0px 10px white;
                        pointer-events: none;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -30px;
                        right: 0;
                        width: 30px;
                        height: 30px;
                        background: transparent;
                        border-radius: 30%;
                        box-shadow: 22px -22px 0px 10px white;
                    }
                }

                i {
                    margin-right: 20px;
                }

                .texto {
                    flex-wrap: nowrap;
                }
            }
        }
    }

    .coluna-conteudo {
        // padding: 30px;

        .topo-conteudo {
            width: 100%;
            height: 60px;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: .5px 3px 1px rgba(0, 0, 0, .3);
            position: relative;
            z-index: 100;

            .wrapper-menu-bar {
                display: flex;
                gap: 20px;

                .btn-menu-bar {
                    background: none;
                    border: none;
                    font-size: 18px;
                    color: $corSecundariaDark;
                    cursor: pointer;

                    &:hover {
                        color: $corPrimaria;
                    }
                }

                .titulo-pagina {
                    color: $corSecundariaDark;
                    font-size: 18px;
                    font-weight: 700;
                    animation: fade-left 1s forwards reverse;
                    
                    &.active {
                        animation: fade-left 1s forwards;
                    } 
                }
            }

            .wrapper-user {
                display: flex;
                gap: 20px;
                align-items: center;

                .texto {
                    font-size: 14px;
                    font-style: italic;
                    color: $corTexto;

                    .usuario {
                        font-weight: 600;
                    }
                }

                .img-avatar {
                    width: 45px;
                    height: 45px;
                    border: solid 2px $corSecundaria;
                    border-radius: 50%;
                    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
                }
            }
        }

        .conteudo {
            display: grid;
            grid-template-columns: 1fr 300px;
            height: calc(100vh - 110px);


            .container-conteudo {
                position: relative;
                width: 100%;
                display: flex;
                justify-content: center;
                overflow-y: scroll;
                padding: 20px 10px;

                .pagina {
                    position: absolute;
                    width: 95%;
                    height: 130%;
                    padding: 20px;
                    border-radius: 5px;
                    background: rgb(240, 240, 240);
                    animation: fade-down 1s forwards;
                    // z-index: -1;
                    // display: none;
                    // border: solid 1px red;

                    &.active {
                        opacity: 1;
                        animation: fade-up 1s forwards;
                        display: block;
                    }

                }

            }

            .container-painel {
                padding: 20px 10px;
                width: 100%;
                height: 100%;
                border: solid 1px red;
            }
        }

        .rodape {
            width: 100%;
            height: 25px;
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            .creditos {
                font-size: 12px;
                color: $corSecundariaDark;

                a {
                    color: $corPrimaria;

                    &:hover {
                        color: #000;
                        border-bottom: solid 2px $corPrimaria;
                    }
                }
            }
        }

    }

}