@import 'reset';
@import 'cores';
@import 'animacoes';
@import 'alertas';

// Responsividade
@mixin mobile {
    @media (max-width: 760px) {
        @content;
    }
}

body {
    background-image: url('../img/background.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    // Responsividade
    @include mobile {
        background: none;
    }
}

.container-alerta {
    // Responsividade
    @include mobile {
        display: none;
    }
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.modal {
    position: relative;
    display: flex;
    width: 750px;
    height: 500px;
    border-radius: 12px;
    box-shadow: $corSombra;
    overflow: hidden;

    // Responsividade
    @include mobile {
        width: 100%;
        height: 100vh;
        border-radius: 0;
        box-shadow: none;

        background-image: url(../img/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left bottom;
        transition: 1s;
    }

    &.move {
        .overlay-container {
            transform: translateX(0%);
        }

        .overlay:nth-child(2) {
            opacity: 0;
            z-index: -1;
        }

        .form {
            transform: translateX(100%) !important;
            z-index: -1 !important;
            opacity: 0 !important;
            transition: 1s;

            @include mobile {
                &.form-login {
                    transform: translateX(-100%) !important;
                    z-index: 1 !important;
                    opacity: 1 !important;
                }

                &.form-cadastro {
                    transform: translateX(0%) !important;
                }
            }

            &:nth-child(2) {
                z-index: 1 !important;
                opacity: 1 !important;
            }
        }

        @include mobile {
            background-position: right bottom;
        }

    }

    .form-container {
        display: flex;
        width: 100%;
        height: 100%;

        .form {
            position: absolute;
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            transition: 1s;
            padding: 50px 30px;

            @include mobile {
                width: 100%;

                .titulo {
                    color: white !important;
                    text-shadow: 1px 1px 1px black !important;
                }

                .texto {
                    color: white !important;
                    text-shadow: 1px 1px 1px black !important;
                }

                .midias {
                    border: solid 2px white !important;
                }

                &.form-cadastro {
                    transform: translateX(100%);
                }
            }

            &:nth-child(2) {
                z-index: -1;
                opacity: 0;
            }

            .titulo {
                font-size: 42px;
                color: $corTexto;
                text-shadow: 1px 1px 1px white;
            }

            .wrapper-midias {
                display: flex;
                gap: 30px;

                .midias {
                    width: 40px;
                    height: 40px;
                    background-color: $corPrimaria;
                    color: white;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 19px;
                    transition: .5s;
                    cursor: pointer;

                    i {
                        margin-left: 2px;
                    }

                    &:hover {
                        background-color: white;
                        color: $corPrimaria;
                        box-shadow: $corSombra
                    }
                }
            }

            .texto {
                color: $corTexto;
            }

            .wrapper-input {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;

                .input {
                    width: 100%;
                    height: 45px;
                    border-radius: 5px;
                    border: solid 2px $corPrimaria;
                    // background-color: $corCinza;
                    padding: 5px 15px;
                    outline: none;
                    color: $corTexto;
                }

                .link {
                    color: $corTexto;
                    border-bottom: 2px solid $corSecundaria;
                    cursor: pointer;
                    transition: .5s;

                    &:hover {
                        border-bottom: 2px solid $corPrimaria;
                    }
                }
            }

            .btn-form {
                width: 200px;
                height: 45px;
                background: none;
                border: solid 2px $corPrimaria;
                background-color: $corPrimaria;
                color: white;
                font-size: 16px;
                border-radius: 10px;
                transition: .5s;
                cursor: pointer;

                &:hover {
                    background: white;
                    color: $corPrimaria;
                    box-shadow: $corSombra
                }
            }

            .texto-mobile {
                display: none;
                background-color: rgba(0, 47, 61, 0.6);
                box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
                padding: 3px;
                border-radius: 3px;
                transition: .5s;

                &:hover {
                    background-color: $corPrimaria;
                }

                @include mobile {
                    display: block;
                }
            }
        }
    }

    .overlay-container {
        position: absolute;
        width: 50%;
        height: 100%;
        transform: translatex(100%);
        z-index: 20;
        transition: 1s;

        // Responsividade
        @include mobile {
            display: none;
        }

        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            padding: 70px 30px;
            background-color: $corPrimaria;
            color: white;
            transition: 1s;

            .logo {
                font-size: 60px;
            }

            .img-logo {
                width: 70px;
            }

            .titulo {
                font-size: 34px;
            }

            .texto {}

            .btn-overlay {
                width: 200px;
                height: 45px;
                background: none;
                border: solid 2px white;
                background: white;
                color: $corPrimaria;
                font-size: 16px;
                border-radius: 10px;
                transition: .5s;
                cursor: pointer;

                &:hover {
                    background-color: $corPrimaria;
                    color: white;
                    box-shadow: $corSombra
                }
            }
        }
    }

}

